.heading{
    text-align: center;
    padding: 2rem;
}

.profs-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-right: 50%;
}




/*...............media query.............................*/
/*.......................................................*/
@media screen and (min-width: 900px){
    .profs-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1300px){
    .profs-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}