/* Original Styles */
nav {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    background: rgba(0, 0, 0, 0.563);
    padding: 0.7rem 1.7rem;
    position: fixed;
    top:0;
    z-index: 9999;
    width: 100%;
    height: 80px;
  }
  
  .logo img {
    height: 50px;
    width: auto;
    margin-right: 15px;
  }
  
  .name h2 {
    margin: 0;
    font-size: 1.2rem;
    /* margin-right: 1rem; */
  }
  /* .name{
    margin-right: 1rem;
  } */
  
  .links {
    display: flex;
    align-items: center;
    grid-column: 4/5;
  }
  
  .links a {
    padding: 0.9rem;
    margin-right: 10px;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
  }
  
  /* .links a:hover {
    background: rgba(0, 0, 0, 0.3);
  } */

  /* HOVER EFFECT NAVBAR */

  .links a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    
  }

  /* Hover Effect Start  */
  
  .links a:after{
    content: "";
    display: block;
    height: 4px;
    left: 10%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    border-radius: 6px;
  }
  
  .links a:hover:after { 
    width: 90%; 
    left: 10%;
    background-color: #871400;
  }
  .links a.active{
    color: #F5730A;
    font-weight: bolder;
  }
   
  
 


  .hamburger-menu {
    display: none;
    grid-column: 4/5;
  }
  
  .hamburger-menu a {
    color: var(--color-light);
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 998px) {
    nav {
      grid-template-columns: auto auto 1fr auto;
      grid-template-rows: auto auto;
    }

    .name h2 {
        margin: 0;
        font-size: 1rem;
    }
  
    .links {
      grid-area: hamburger;
      display: none; 
    }
  
    .hamburger-menu {
      display: block;
      margin-right: 8px;
    }
  
    .links.active {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 80px;
      width: 10rem;
      height: calc(100vh - 70px);
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: all 0.3s ease;
      text-align: center;
    }
  
    .links.active a {
      width: 90%;
      margin: 0;
    }
  
    .hamburger-menu a.active {
      background: var(--color-primary);
      color: var(--color-bg);
      opacity: 0.6;
    }
  }

  @media screen and (max-width: 358px) {
    .links.active {
      top: 100px;
    }
   
  }
  
  @media screen and (max-width: 558px) {
    .links.active{
        top: 80px;
    }
  }
  @media screen and (max-width: 400px) {
    nav{
      height: 130px;
    }
    .links.active{
        top: 130px;
    }
  }
  